/**
 * main.css
 * Contains the general styling used for the advent calendar
 * 
 * Guidelines for Formating:
 * Positioning
 * Display/Box/Grid Models
 * Color/Typography
 * Other
 */

/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #dbedf3;
    background-color: #404b69;
    font-family: 'Open Sans', sans-serif;
}

h1, h3, h4 {
    position: relative;

    font-family: 'Proza Libre', sans-serif;
    font-size: 3.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

div {
    font-size: 1rem;
    font-weight: normal;
}

p {
    position: relative;

    font-size: 1rem;
}

/*Title Text*/
.title {
    margin: 5rem auto 1rem;
}

/*Countdown*/
.countdown {
    position: relative;

    margin: 1rem auto;

    display: flex;
    flex-direction: column;

}

.dates {
    position: inherit;

    display: inherit;
    justify-content: space-between;
}

/*Main Calendar*/
.calendar {
    position: relative;
    margin: 5rem auto;

    display: grid;
    grid-template: repeat(4, 12rem) / repeat(7, 13rem);
    gap: 0.5rem;

    text-align: center;
}

.calendar .cards:nth-child(3n-5) {
    background-color: #495c8f;
}

.calendar .cards:nth-child(4n-2) {
    background-color: #0e767e;
}

.cards {
    position: relative;

    background-color: #d6556a;
    border-radius: 10%;

    cursor: pointer;
}

.date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2.5rem;
    font-weight: 900;
}

.content-info {
    display: none;
}