main {
    background-color: #30475e;
}

footer {
    background-color: #cbaf87;
}

.calendar {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cards {
    font-family: 'Open Sans', sans-serif;
    color: #faf0dc;
}